<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Dodaj link za učitavanje Tailwind CSS-a -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>


<header class="bg-gray-900">
	<nav class="mx-auto flex max-w-6xl items-center justify-between p-4 lg:px-6" aria-label="Global">
		<div class="flex lg:flex-1">
			<a href="/TravelOrganisation" class="-m-1.5 p-1.5">
				<span class="sr-only">Your Company</span>
				<img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=white" alt="">
			</a>
		</div>

		<div class=" lg:flex lg:gap-x-12">


			<a th:href="@{/putovanja}" class=" text-sm font-semibold leading-6 text-white">Putavanja</a>
			<a th:href="@{/putovanja/dodaj}" class=" text-sm font-semibold leading-6 text-white">Dodaj putovanje</a>
			<a th:href="@{/smestaj/dodaj}" class=" text-sm font-semibold leading-6 text-white">Dodaj smeštaj</a>
			<a th:href="@{/prevoz/dodaj}" class=" text-sm font-semibold leading-6 text-white">Dodaj prevoz</a>

			<a th:href="@{/destinacije}" class="text-sm font-semibold leading-6 text-white">Destinacije</a>
			<a th:href="@{/register}" th:if="${session.prijavljeni_korisnik == null}"
				class="text-sm font-semibold leading-6 text-white">Registracija</a>
			<a href="/TravelOrganisation/profil" th:if="${session.prijavljeni_korisnik != null}"
				th:text="${session.prijavljeni_korisnik.korisnickoIme}"
				class="text-sm font-semibold leading-6 text-white"></a>




		</div>
		<div class="hidden lg:flex lg:flex-1 lg:justify-end">
			<a href="/TravelOrganisation/login" th:if="${session.prijavljeni_korisnik == null}"
				class="text-sm font-semibold leading-6 text-white">Prijavi se</a>
			<a href="/TravelOrganisation/logout" th:if="${session.prijavljeni_korisnik != null}"
				class="text-sm font-semibold leading-6 text-white">Odjavi se</a>
		</div>
	</nav>

</header>




</html>