<table id="wishlistTabela" th:if="${wishlist != null}"
	class="mt-10 min-w-full bg-white border border-gray-300 shadow-md">
	<thead>
		<tr class="bg-gray-200">
			<th class="py-2 px-4">Naziv destinacije</th>
			<th class="py-2 px-4">Prevozno sredstvo</th>
			<th class="py-2 px-4">Ukupna cena</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="wishlistItem : ${wishlist}" class="hover:bg-gray-100 text-center">
			<td class="py-2 px-4" th:text="${wishlistItem.putovanje.destinacija.grad}"></td>
			<td class="py-2 px-4" th:text="${wishlistItem.putovanje.prevoznoSredstvo.prevoznoSredstvo}"></td>
			<td class="py-2 px-4" th:text="${wishlistItem.putovanje.cenaAranzmana}"></td>
			<td
				class="py-2 px-4">
				<form th:action="@{/putovanja/wishlist/remove}" method="post">
					<input type="hidden" th:name="idWishlist" th:value="${wishlistItem.id}" />
					<button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-full mt-4">Izbaci</button>
				</form>
			</td>
		</tr>
	</tbody>
</table>