<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="'Destinacije'"></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body>

	<div th:replace="fragments/layout :: zajednickaStranica(~{::title}, ~{::centralniDiv})">
		<div th:fragment="centralniDiv" class="flex items-center justify-center min-h-screen">
			<table class="text-gray-900 min-w-full bg-white border border-gray-300">
				<thead>
					<tr>

						<th class="py-2 px-4 border-b" th:text="#{label.city}">Grad</th>
						<th class="py-2 px-4 border-b" th:text="#{label.country}">Država</th>
						<th class="py-2 px-4 border-b" th:text="#{label.continent}">Kontinent</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="destinacija : ${listaDestinacija}">
						<td class="text-center py-2 px-2 border" th:text="${destinacija.grad}"></td>
						<td class="text-center py-2 px-2 border" th:text="${destinacija.drzava}"></td>
						<td class="text-center py-2 px-2 border" th:text="${destinacija.kontinent}"></td>
						<td class="text-center py-2 px-2 border">
							<form action="destinacije/delete" method="POST">
								<input type="hidden" name="id" th:value="${destinacija.id}"></input>
								<button th:text="#{button.delete}">Obriši</button>
							</form>
						</td>
						<td class="text-center py-2 px-2 border">
							<form action="destinacije/izmeni" method="POST">
								<input type="hidden" name="id" th:value="${destinacija.id}"></input>
								<button th:text="#{button.edit}">Izmeni</button>
							</form>
						</td>


					</tr>
				</tbody>
			</table>
			<a class="bg-white" th:href="@{/destinacije/dodaj}">
				<button type="button" th:text="#{button.addDestination}">Dodaj destinaciju</button>
			</a>

		</div>

	</div>

</body>

</html>