<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Sve knjige</title>
</head>

<body>
	<div th:replace="fragments/layout :: zajednickaStranica(~{::title}, ~{::centralniDiv})">
		<div th:fragment="centralniDiv" class="bg-blue-100 flex items-center justify-center min-h-screen">

			<form action="edit" method="POST">
				<input type="hidden" name="id" th:value="${destinacija.id}" />
				<label th:text="#{label.city}">Grad</label>
				<input th:value="${destinacija.grad}" name="grad" />
				<label th:text="#{label.country}">Drzava</label>
				<input th:value="${destinacija.drzava}" name="drzava" />
				<label th:text="#{label.continent}">Kontinent</label>
				<input th:value="${destinacija.kontinent}" name="kontinent" />
				<input type="submit" value="Izmeni" />
			</form>
		</div>
	</div>
</body>

</html>