<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
	<title th:text="'Shopping cart'"></title>

	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

	<style>
		/* Dodajte stilove po potrebi */
	</style>
</head>

<body>
	<div th:replace="fragments/layout :: zajednickaStranica(~{::title}, ~{::centralniDiv})">

		<div th:fragment="centralniDiv" class="flex items-center justify-center min-h-screen bg-white">
			<div id="shoppingCart" th:attr="korisnik=${session.prijavljeni_korisnik}"
				th:if="${session.shoppingCart != null and not session.shoppingCart.isEmpty()}">
				<!-- Add overflow-x-auto class to make the table responsive -->
				<div class="overflow-x-auto">
					<table class="min-w-full bg-white border border-gray-300 max-w-screen-md mx-auto">
						<thead>
							<tr>
								<th
									class="px-6 py-3 border-b border-gray-300 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
									Destinacija</th>
								<th
									class="px-6 py-3 border-b border-gray-300 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
									Šifra putovanja</th>
								<th
									class="px-6 py-3 border-b border-gray-300 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
									Prevozno sredstvo</th>
								<th
									class="px-6 py-3 border-b border-gray-300 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
									Smeštajna jedinica</th>
								<th
									class="px-6 py-3 border-b border-gray-300 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
									Cena</th>
								<th
									class="px-6 py-3 border-b border-gray-300 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
									Broj putnika</th>
								<th
									class="px-6 py-3 border-b border-gray-300 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
									Broj nocenja</th>
								<th
									class="px-6 py-3 border-b border-gray-300 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
									Datum polaska</th>
								<th
									class="px-6 py-3 border-b border-gray-300 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
									Datum povratka</th>

								<th class="px-6 py-3 border-b border-gray-300 bg-gray-100"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:id="rezervacija.id" class="rezervacija" th:attr="cenaRezervacije=${rezervacija.cena}"
								th:each="rezervacija, iterStat : ${session.shoppingCart}">
								<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
									<!-- Prikaz informacija o putovanju -->
									<span th:text="${rezervacija.putovanje.destinacija.grad}"></span>
								</td>
								<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
									<!-- Prikaz informacija o putovanju -->
									<span th:text="${rezervacija.putovanje.id}"></span>
								</td>
								<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
									<!-- Prikaz informacija o putovanju -->
									<span th:text="${rezervacija.putovanje.prevoznoSredstvo.prevoznoSredstvo}"></span>
								</td>
								<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
									<!-- Prikaz informacija o putovanju -->
									<span th:text="${rezervacija.smestajnaJedinica.naziv}"></span>
								</td>
								<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
									<!-- Prikaz informacija o putovanju -->
									<span th:text="${rezervacija.cena}"></span>
								</td>
								<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
									<!-- Prikaz broja putnika -->
									<span th:text="${rezervacija.brojPutnika}"></span>
									<!-- Dugme za menjanje broja putnika -->
									<button
										th:onclick="'javascript:changePassengerCount(' + ${iterStat.index} + ', ' + ${rezervacija.id} + ');'">Promeni</button>

								</td>
								<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
									<!-- Prikaz informacija o intervalu -->
									<span th:text="${rezervacija.termin.brojNocenja}"></span>
								</td>
								<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
									<!-- Prikaz informacija o intervalu -->
									<span th:text="${rezervacija.termin.vremePolaska}"></span>
								</td>
								<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
									<!-- Prikaz informacija o intervalu -->
									<span th:text="${rezervacija.termin.vremePovratka}"></span>
								</td>
								<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
									<!-- Dugme za izbacivanje iz shopping cart-a -->
									<button
										th:onclick="'javascript:removeFromCart(' + ${iterStat.index} + ', ' + ${rezervacija.id} + ');'">Izbaci</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<p>Ukupna cena: <span id="totalValue"></span></p>
				<div th:if="${kartica} != null">
					<p>Bodovi na loyalty kartici: <span th:text="${kartica.brojPoena}"></span></p>
					<p>Iskoristi bodove: </p>
					<input onchange="getTotal()" id="brojBodova" type="number" th:value="0"
						th:attr="max=${kartica.brojPoena > 10 ? 10 : kartica.brojPoena}" min="0"
						class="border rounded-md"></input>
				</div>

				<button
					class="mt-3 bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800"
					onclick="checkout()">Završi kupovinu</button>
			</div>
			<div th:unless="${session.shoppingCart != null and not session.shoppingCart.isEmpty()}">
				<p>Shopping cart je prazan.</p>
			</div>
		</div>
	</div>

	<script>

		var brojBodova = 0;
		getTotal()
		// Implementirajte funkcije za promenu broja putnika i izbacivanje iz shopping cart-a
		function changePassengerCount(index, rezervacijaId) {
			var newPassengerCount = prompt("Unesite novi broj putnika:");

			if (newPassengerCount !== null) {
				// Provera da li je uneta vrednost broj i veća od 0
				if (!isNaN(newPassengerCount) && newPassengerCount >= 1) {
					$.ajax({
						type: 'POST',
						url: '/TravelOrganisation/putovanja/reservation/changePassangerNumberWishlist',
						data: {rezervacijaId: rezervacijaId, newPassengerCount: parseInt(newPassengerCount, 10)},
						success: function (data) {
							alert('Broj putnika uspešno promenjen.');
							location.reload();
						},
						error: function (error) {
							alert('Došlo je do greške prilikom ažuriranja broja putnika.');
						}
					});
				} else {
					alert('Unesite ispravan broj putnika (broj mora biti veći ili jednak 1).');
				}
			}
		}




		function removeFromCart(index, rezervacijaId) {
			$.ajax({
				type: 'POST',
				url: '/TravelOrganisation/putovanja/reservation/removeFromShoppingCart',
				data: {rezervacijaId: rezervacijaId},
				success: function (data) {
					location.reload();
				},
				error: function (error) {
					alert('Došlo je do greške prilikom brisanja.');
				}
			});
		}



		function checkout() {
			korisnik = $("#shoppingCart").attr("korisnik")
			if (korisnik != undefined) {

				brojBodova = $("#brojBodova").val();
				
				if(brojBodova == undefined){
					brojBodova = 0
				}
				ukupnaCifra = getTotal();
				console.log(brojBodova)

				$.ajax({
					type: "POST",
					url: "/TravelOrganisation/putovanja/reservation/buy",
					data: {brojBodova: brojBodova, ukupnaCifra: ukupnaCifra},
					success: function (data) {
						location.reload();
					},
					error: function (error) {
						alert('Došlo je do greške prilikom brisanja.');
					}
				})

			}
			else {
				window.location.href = "/TravelOrganisation/login";
			}
		}

		function getTotal() {
			var total = 0
			brojBodova = $("#brojBodova").val();
			$(".rezervacija").each(function () {
				total = total + parseInt($(this).attr("cenaRezervacije"), 10)

			})
			if(brojBodova != undefined){
						total = total - total * 0.05 * brojBodova
	
			}
			else{brojBodova = 0}
			$("#totalValue").text(total);

			console.log(total)
			return total;
		}


		$(document).ready(function () {
			// When the "Otkazi" button is clicked, hide the modal
			$('#cancelReservationBttn').click(function () {
				$('#promeniBrPutnika').hide();
			});
		});

		$(document).ready(function () {
			// When the "Otkazi" button is clicked, hide the modal
			$('#changeBttn').click(function () {


				$('#promeniBrPutnika').hide();
			});
		});
	</script>



</body>

</html>